@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 3% auto  auto;
    width: fit-content;
    font-family: "Montserrat";
    font-size: 3.5rem;
}

.notification {
    font-family: "Montserrat";
    font-size: 3rem;
    border-radius: 15px;
    font-weight: 700;
    padding: 0.5%;
}

.container {
    border: 6px solid rgb(63, 63, 63);
    border-radius: 60px;
    width: 70vw;
    height: 80vh;
    padding: 3%;
    background-color: #FFFFCC;
    margin: 1% auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.field {
    display: flex;
    width: 60vw;
    height: 60%;
    justify-content: space-between;
    align-items: center;
}

.try {
    width: 25vw;
    height: 25vw;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.option {
    width: 30%;
    max-width: 180px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.option:hover,
.option:focus {
    transform: scale(1.2);
    transform-origin: bottom left;
}

.option:active{
    transform: scale(1.1);
    opacity: 0.6;
}

.score {
    font-family: "Montserrat";
    width: 80%;
    background: rgba(116, 116, 116, 0.7);
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 1%;
    font-size: 2rem;
}

.move {
    transition: background-image 0.2s ease-in-out;
    height: 87%;
    width: 84%;
    max-width: 310px;
    max-height: 310px;
    background-color: #ffb655;
    border-radius: 50%;
    margin: 2% auto;
    background-image: url(images/Question_mark.png);
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
}

#versus {
    font-size: 6rem;
    font-family: "Montserrat";
    color: rgb(32, 32, 32);
}